      <div class="about lx-blocs lx-block container-fluid ">
        <div class="lx-warp container">
          <div class="row">
            <div class="col-lg-12 lx-block-title">
              <h1>about me</h1>
              <span></span>
            </div>
            <div class="col-lg-6">
              <p class="lx-txt">
                Throughout my life, for as long as I can remember, I have always been a problem solver. I recall getting super excited for something as simple as fixing a hair dryer with nothing more than a lighter and a paperclip, which was my claim to fame at a mere 10-years of age! I’ve since taken my love and passion for problem-solving to my career path. I have worn many different "hats" throughout my natural career progression, from End-User Support, QA, Mobile Developer, DevOps Engineer to Software Development. I am currently a Software Consultant in Chicago creating custom solutions for Chicago-based companies.  
              </p>
              <p class="lx-txt">I also enjoy the outdoor life: hiking, climbing, running, & etc. I also enjoy traveling. To date, I have been to a few exotic places, Thailand being my favorite by far!  There was something so surreal about being free in the jungle and being able to walk barefoot, without any inhibitions. I will never forget that vacation, my first taste of truly immersing myself in a different culture.</p>
              <%=image_tag("signe.png", class: "lx-signe", alt: "signe")%>
              <div class="lx-social-links">
                 <a href="http://linkedin.com/in/jaycdave" target="_blank" ><i class="fa fa-linkedin"></i></a>
              <a href="https://www.facebook.com/Gsxr600soup" target="_blank" ><i class="fa fa-facebook"></i></a>
              <a href="http://twitter.com/J_cd88" target="_blank" ><i class="fa fa-twitter"></i></a>
              <a href="http://github.com/jaycdave88" target="_blank" ><i class="fa fa-github"></i></a>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 lx-about-img">
              <img src="http://placehold.it/370x415" alt="person">
            </div>
          </div>
        </div>
      </div>