      <div class="about lx-blocs lx-block container-fluid ">
        <div class="lx-warp container">
          <div class="row">
            <div class="col-lg-12 lx-block-title">
              <h1>about me</h1>
              <span></span>
            </div>
            <div class="col-lg-6">
              <p class="lx-txt">
                Morbi nec enim ut ligula pretium efficitur. Curabitur placerat iaculis nisl, sit amet iaculis augue varius nec. In euismod auctor augue, quis fringilla justo maximus eu. Donec quis ante non justo pellentesque pulvinar. Cras lobortis, diam ac pharetra ultrices, nunc nunc fermentum ligula, porta pretium enim tellus ac augue.
              </p>
              <p class="lx-txt">
                Vivamus sagittis diam eget ex viverra rhoncus. Quisque sit amet tristique dui. Sed non est blandit, iaculis ipsum ut, lobortis purus. Quisque convallis ullamcorper convallis.
              </p>
              <p class="lx-txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris feugiat nibh sapien, eu suscipit odio imperdiet et. Praesent eget volutpat neque. 
              </p>
              <img src="images/signe.png" alt="signe" class="lx-signe">
              <div class="lx-social-links">
                <a href="#" title=""><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-snapchat"></i></a>
                <a href="#" title=""><i class="fa fa-instagram"></i></a>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 lx-about-img">
              <img src="http://placehold.it/370x415" alt="person">
            </div>
          </div>
        </div>
      </div>