      <div class="contact lx-blocs lx-block lx-block-black ">
        <div class="lx-warp container">
          <div class="row">
            <div class="col-lg-12 lx-block-title lx-block-title-white">
              <h1>contact me</h1>
              <span></span>
            </div>
            <div class="lx-form col-lg-7">
              <form action="#" method="post" autocomplete="off">
                <div class="lx-contact-field">
                  <input type="text" name="fullname" placeholder="Jane Doe" />
                </div>
                <div class="lx-contact-field">
                  <input type="text" name="email" placeholder="Jane@Doe.com" />
                </div>
                <div class="lx-contact-field">
                  <textarea name="message" placeholder="Your message here ..."></textarea>
                </div>
                <input type="button" name="submit" value="SEND MESSAGE" />
              </form>
            </div>
            <div class="lx-contact-info col-lg-5">
              <div class="lx-contact-info-item col-lg-12">
                <i class="lnr lnr-map-marker"></i>
                <p>Chicago, IL 60607</p>
              </div>
              <div class="lx-contact-info-item col-lg-12">
                <i class="fa fa-skype"></i>
                <p>jaycdave.88</p>
              </div>
              <div class="lx-clear-fix"></div>
              <div class="lx-contact-info-item col-lg-12">
                <i class="lnr lnr-envelope"></i>
                <p>developerjaycdave@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>