  <div id="lx-footer">
    <!-- Footer top -->
    <div class="lx-footer-top">
      <div class="lx-warp container">
        <div class="row">
          <div class="col-lg-5 lx-warp-footer ">  
            <%=image_tag("logo.png", class: "lx-footer-logo")%>
            <p class="lx-txt lx-txt-white">Please feel free to follow me on all my social media.</p>
            <div class="lx-social-links lx-social-links-footer">
              <a href="http://linkedin.com/in/jaycdave" target="_blank" ><i class="fa fa-linkedin"></i></a>
              <a href="https://www.facebook.com/Gsxr600soup" target="_blank" ><i class="fa fa-facebook"></i></a>
              <a href="http://twitter.com/J_cd88" target="_blank" ><i class="fa fa-twitter"></i></a>
              <a href="http://github.com/jaycdave88" target="_blank" ><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /footer top -->

    <!-- Footer bottom -->
    <div class="lx-footer-bottom">
      <div class="lx-warp container">
        <div class="row">
          <div class="col-lg-5 lx-warp-footer ">  
            <p class="lx-txt-copy">&copy; all right are reserved to jay c. davé 2017</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Footer bottom -->

  </div>
    <!-- /Footer -->