  <div id="lx-footer">
      <!-- Footer top -->
      <div class="lx-footer-top">
        <div class="lx-warp container">
        <div class="row">
          <div class="col-lg-5 lx-warp-footer ">  
            <img src="images/logo.png" alt="logo" class="lx-footer-logo">
            <p class="lx-txt lx-txt-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ac tellus lacinia, rhoncus erat sit amet, rhoncus lacus.</p>
            <div class="lx-social-links lx-social-links-footer">
              <a href="#" title=""><i class="fa fa-facebook"></i></a>
              <a href="#" title=""><i class="fa fa-twitter"></i></a>
              <a href="#" title=""><i class="fa fa-snapchat"></i></a>
              <a href="#" title=""><i class="fa fa-instagram"></i></a>
            </div>
          </div>
        </div>
        </div>
      </div>
      <!-- /footer top -->

      <!-- Footer bottom -->
      <div class="lx-footer-bottom">
        <div class="lx-warp container">
      <div class="row">
        <div class="col-lg-5 lx-warp-footer ">  
          <p class="lx-txt-copy">&copy; all right are reserved to kimi 2016</p>
        </div>
      </div>
      </div>
      </div>
      <!-- /Footer bottom -->
      
    </div>
    <!-- /Footer -->