<div id="lx-header">
      <div class="container lx-header-warp">
        <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">

          <!-- Logo -->
          <div class="lx-logo">
            <img src="images/logo.png" alt="">
          </div>
          <!-- /Logo -->

          <!-- menu -->
          <div class="lx-main-menu">
            <i class="lnr lnr-menu lx-menu-btn"></i>
            <ul>
              <li class="lx-menu-item active" data-url="home" ><a href="#home" title="home">home <span></span></a></li>
              <li class="lx-menu-item" data-url="about"><a href="#about" title="about">about <span></span></a></li>
              <li class="lx-menu-item" data-url="skills"><a href="#skills" title="skills">skills <span></span></a></li>
              <li class="lx-menu-item" data-url="education"><a href="#education" title="education">education <span></span></a></li>
              <li class="lx-menu-item" data-url="experience"><a href="#experience" title="experience">experience <span></span></a></li>
              <li class="lx-menu-item" data-url="portfolio"><a href="#portfolio" title="portfolio">portfolio <span></span></a></li>
              <li class="lx-menu-item" data-url="contact"><a href="#contact" title="contact">contact <span></span></a></li>
            </ul>
          </div>
          <!-- /Menu -->
        </div>
      </div>
      </div>
    </div>