      <div class="skills lx-blocs lx-block lx-block-gray container-fluid">
        <div class="lx-warp container">
          <div class="row">
            <div class="col-lg-12 lx-block-title">
              <h1>Skills</h1>
              <span></span>
            </div>
            <div class="lx-bars-chart">

              <p class="lx-txt lx-txt-skills col-lg-12">For convenience, I have listed a few of my skills below. Please keep in mind that my skills are not limited to just the skills listed below, a full list can be found in my résumé.</p>
              <div class="lx-bar col-lg-6  col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>HTML5</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>CSS3</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>JQuery</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>JavaScript</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="75">
                <p>C#</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="75">
                <p>ASP.NET</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="85">
                <p>Ruby</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="85">
                <p>Rails</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="90">
                <p>Version Control (i.e. Git, Bitbucket, Git Labs, TFS)</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="60">
                <p>Azure</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <p class="lx-txt lx-txt-skills col-lg-12"><i>"Communication - the human connection - is the key to personal and career success." - <b>Paul J. Meyer</b></i>.</p>

                <p>Being able to communicate effectively always helps, below is a few of the ways I can communicate outside of the software.</p>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>English</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6  col-md-6 col-sm-6 col-xs-12" data-max="80">
                <p>Gujarati</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="50">
                <p>Hindi</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="45">
                <p>Espanol</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>