      <div class="skills lx-blocs lx-block lx-block-gray container-fluid">
        <div class="lx-warp container">
          <div class="row">
            <div class="col-lg-12 lx-block-title">
              <h1>My skills</h1>
              <span></span>
            </div>
            <div class="lx-bars-chart">

              <p class="lx-txt lx-txt-skills col-lg-12">Maecenas semper lacus in interdum sollicitudin. Duis ac sodales nunc, in tristique ante. Pellentesque dolor ipsum, vehicula sit amet nibh vitae, ornare posuere turpis.</p>
              <div class="lx-bar col-lg-6  col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>HTML5</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="85">
                <p>CSS3</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="90">
                <p>JQuery</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="80">
                <p>PHP</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <p class="lx-txt lx-txt-skills col-lg-12">Quisque consequat nisi id pulvinar faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In congue nisl eu massa blandit finibus. Maecenas id elit nec mi maximus efficitur sit amet et nisi. Phasellus finibus porta imperdiet. Sed hendrerit ultrices nisl sed rutrum. Suspendisse odio orci, bibendum in vehicula nec, convallis vel nulla. Sed egestas vitae tortor ut consectetur. Duis varius euismod porta. </p>
              <div class="lx-bar col-lg-6  col-md-6 col-sm-6 col-xs-12" data-max="100">
                <p>Arabic</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="75">
                <p>French</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="80">
                <p>English</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
              <div class="lx-bar col-lg-6 col-md-6 col-sm-6 col-xs-12" data-max="50">
                <p>Espagnol</p>
                <div class="lx-bar-counter">0</div>
                <div class="lx-bar-bg">
                  <div class="lx-bar-fill">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>